<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport equipment store</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <form action="/item/create/<%= categoryId %>" method="get">
        <button type="submit">Add Item</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach((item) => { %>
                <tr>
                    <td><%= item.item_name %></td>
                    <td><%= item.price %></td>
                    <td><%= item.quantity %></td>
                    <td><a href="/items/<%= item.item_id %>/edit">Edit</a></td>
                    <td><a href="/items/<%= item.item_id %>/delete">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>